h1
{
    color:green;
    

}

h1 p
{
    color:red;
    
}

#titulo_principal{
    color:blue;
    background-color:brown
}

.titulo_secundario{
    text-align: center;
    background-color:aqua;
    margin-right: 500px;
    <i class="fa-brands fa-amazon-pay"></i>
    
}
